<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brokerage.name %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @brokerage.logo_url %>
</p>

<%= link_to 'Edit', edit_brokerage_path(@brokerage) %> |
<%= link_to 'Back', brokerages_path %>
