<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @brokerage_user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @brokerage_user.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @brokerage_user.phone %>
</p>

<p>
  <strong>Brokerage:</strong>
  <%= @brokerage_user.brokerage_id %>
</p>

<p>
  <strong>Is owner:</strong>
  <%= @brokerage_user.is_owner %>
</p>

<%= link_to 'Edit', edit_brokerage_user_path(@brokerage_user) %> |
<%= link_to 'Back', brokerage_users_path %>
