<% content_for(:header_title) do %>
Listings
<% end %>

<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
  <%= link_to new_listing_path, class: "mdl-button mdl-js-button mdl-button--colored" do %>
    <i class="material-icons">pin_drop</i>
    Add new Listing
  <% end %>

  <ul class="mdl-list">
    <% @listings.each do |listing| %>
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <%= listing_image listing, class: 'mdl-list__item-avatar' %>
        <span><%= listing.short_address %></span>
        <span class="mdl-list__item-sub-title"><%= listing_active_string(listing) %> / 0 upcoming showings / <%= pluralize listing.clients.size, 'client' %> setup</span>
      </span>
      <span class="mdl-list__item-secondary-content">
        <%= link_to 'Edit Details', edit_listing_path(listing), class: 'mdl-list__item-secondary-action mdl-button mdl-js-button' %>
        <%= link_to 'Remove', listing, method: :delete, data: { confirm: 'Are you sure? No showings will be bookable for this listing any more.' }, class: 'mdl-list__item-secondary-action mdl-button mdl-js-button' %>
      </span>
    </li>
    <% end %>
  </ul>
</div>
